## ***DICTIONARY***

In [1]:
d={}
type(d)

dict

In [3]:
d1={'key' : "asma"}#key must always bi unique,key may be of any name
print(d1)
d2={'name':"asma","email":"asma@gmail",'roll no':"55"}
print(d2)

{'key': 'asma'}
{'name': 'asma', 'email': 'asma@gmail', 'roll no': '55'}

In [ ]:
d3={123:"asma"}#key mn numeric value ly skty hain special sign&underscore without quote nae lyskty
print(d3)
d4={True:'asma'} #bool data type as a key use krskty hain
print(d4)

{123: 'asma'}
{True: 'asma'}

### ***FETCHING DATA***
#### ***index concept not applicable in dict we use key***

In [12]:
d5={'key':'asma',123:'84','-war':'saba'}
d5[123]
d5['-war']

'saba'

In [ ]:
d5={'key':'asma',123:'84','-war':'saba','key':'asmalatif'}#key unique na hu tu overwrite huta ha new sy
d5['key']#dictionary mn agr duplicate key hu tu jo last mn key hu wo execute hugi

'asmalatif'

In [ ]:
d5={'name':'asma','course':["web","flutter","python","data science"]}
print(d5)
d5['course']#list use huskti ha dictionary mn
d5['course'][2]#hm list mn sy specific data bi print krwa skty hain

{'name': 'asma', 'course': ['web', 'flutter', 'python', 'data science']}

'python'

In [ ]:
#as a value we can also take list,tuple or set 
#also use dictionary inside a dictionary
d6={"numbers":[1,2,3],"assignment":(1,2,3),"dates":{23,14},"time":{"web":"12","dive":"1"}}
print(d6)
d6['time']['dive']#dictionary ky andr dict ka data fetch krna

{'numbers': [1, 2, 3], 'assignment': (1, 2, 3), 'dates': {14, 23}, 'time': {'web': '12', 'dive': '1'}}

'1'

In [28]:
#add new key in a dict
d6={'name':'asma','roll-no':'84'}
d6['qualification']="graduate"
print(d6)

{'name': 'asma', 'roll-no': '84', 'qualification': 'graduate'}

In [29]:
#key available hu tu update krde ga
d6={'name':'asma','roll-no':'84'}
d6["name"]="sadia"
print(d6)

{'name': 'sadia', 'roll-no': '84'}

In [30]:
#deletion
d6={'name':'asma','roll-no':'84'}
del d6["name"]
print(d6)

{'roll-no': '84'}

In [31]:
d6={"numbers":[1,2,3],"assignment":(1,2,3),"dates":{23,14},"time":{"web":"12","dive":"1"}}
d6.keys()

dict_keys(['numbers', 'assignment', 'dates', 'time'])

In [32]:
list(d6.keys())

['numbers', 'assignment', 'dates', 'time']

In [ ]:
d6.values()

dict_values([[1, 2, 3], (1, 2, 3), {14, 23}, {'web': '12', 'dive': '1'}])

In [34]:
list(d6.values())

[[1, 2, 3], (1, 2, 3), {14, 23}, {'web': '12', 'dive': '1'}]

In [ ]:
d6.items()

dict_items([('numbers', [1, 2, 3]), ('assignment', (1, 2, 3)), ('dates', {14, 23}), ('time', {'web': '12', 'dive': '1'})])

In [37]:
d6.pop("numbers")
d6

{'assignment': (1, 2, 3),
 'dates': {14, 23},
 'time': {'web': '12', 'dive': '1'}}