In [1]:
l=[1,2,3,4,5]
for i in l:
    print(i ,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [2]:
l1=["asma","saad","saba","sadia"]
for i in l1:
    print(i)

asma
saad
saba
sadia

In [3]:
l1

['asma', 'saad', 'saba', 'sadia']

In [5]:
l1

['asma', 'saad', 'saba', 'sadia']

In [ ]:
for i in l1:
    if i=="saad":
        break
    print(i)

asma

#### ***else execute only when loop completed***

In [4]:
for i in l1:
    print(i)
else:
    print("do something")

asma
saad
saba
sadia
do something

In [7]:
for i in l1:
    if i=="saad":
        break
    print(i)
else:
    print("code execute")

asma

In [ ]:
for i in l1:
    if i=="saad":
        break
    print(i)

asma
saba
sadia

In [11]:
for i in l1:
    if i=="saad":
        continue
    print(i)
else:
    print("do something")

asma
saba
sadia
do something

#### ***we use range to reverse a loop,print specific item in a loop***

In [12]:
range(5)

range(0, 5)

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
range(0,20,2)

range(0, 20, 2)

In [15]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [21]:
l1=[1,2,3,4,5]
len(l1)
for i in range(len(l1)):
    print(l1[i])

1
2
3
4
5

In [22]:
l1=[1,2,3,4,5]
len(l1)
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

5
4
3
2
1

In [26]:
l2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [27]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [29]:
for i in (range(0,len(l2),2)):
    print(l2[i])

1
3
5
7
9
11
13
15

In [30]:
l=[1,2,3,4,5,6,7,8,9,10]
sum(l)

55

In [31]:
result=0
for i in l:
    result=result+i
result

55

In [32]:
t=(1,2,3,4,5,6)
sum(t)

21

In [33]:
result=0
for i in t:
    result=result+i
result

21

In [34]:
s={1,2,3,4,"asma"}
for i in s:
    print(i)

1
2
3
4
asma

In [35]:
s1="asmalatif"
for i in s1:
    print(i)

a
s
m
a
l
a
t
i
f

In [37]:
d={"key":"value","name":"asma","class":"bs"}
for i in d:
    print(i)

key
name
class

In [39]:
d={"key":"value","name":"asma","class":"bs"}
for i in d.keys():
    print(d[i])

value
asma
bs

In [40]:
d={"key":"value","name":"asma","class":"bs"}
for i in d.values():
    print(i)

value
asma
bs

In [41]:
d={"key":"value","name":"asma","class":"bs"}
for i in d.items():
    print(i)

('key', 'value')
('name', 'asma')
('class', 'bs')