## ***SET***

In [1]:
s={2,3,1,1,1,3,3,4,4,5,3,2,67,8,2,3,2,9,0,"asma"}
print(s)

{0, 1, 2, 3, 4, 5, 67, 8, 9, 'asma'}


### ***TUPLE***

In [29]:
t=(3,2,1,[1,2,3,4,5],"asmaa")
print(t.count(3))
print(t[3].count(3))
print(t)

1
1
(3, 2, 1, [1, 2, 3, 4, 5], 'asmaa')

## ***LIST***

In [20]:
l=["asma",1,2,3,4,33.24,True]
print(l[4])
print(l)

4
['asma', 1, 2, 3, 4, 33.24, True]

## ***slicing in a list***

In [21]:
print(l[0:3]) #list ki range print krwani hu
print(l[-1]) #list ka last element print krwana hu
print(l[::-1]) #list ko reverse order mn print krwana hu tu
print(l[::2]) #print only that are at the difference of 2
print(l[5]) #specific word print krana hu list ka
print(l[0][0:2])#agr list ky  ik index ky word ky andr slicing krni hu
l1=[13,14,15]
print(l+l1)

['asma', 1, 2]
True
[True, 33.24, 4, 3, 2, 1, 'asma']
['asma', 2, 4, True]
33.24
as
['asma', 1, 2, 3, 4, 33.24, True, 13, 14, 15]

## ***INSERTION***
### ***append,extend,insert***

In [36]:
l2=[1,2,3,4,5,6]
l2.append("asma")
print(l2)
l2.extend("saad")
print(l2)
l2.insert(2,"asma")
print(l2)

[1, 2, 3, 4, 5, 6, 'asma']
[1, 2, 3, 4, 5, 6, 'asma', 's', 'a', 'a', 'd']
[1, 2, 'asma', 3, 4, 5, 6, 'asma', 's', 'a', 'a', 'd']

## ***DELETION***
### ***pop,remove,sort,reverse***

In [54]:
l3=[1,2,3,4,5,6,7]
l3.pop(3)#index ky through value delete huti ha
print(l3)
l3.remove(5)#value ky through delete huti ha
print(l3)
l4=[1,2,3,4,[1,2,4,5,6]]
l4[4].remove(1)
print(l4)
l5=[10,15,3,4,9,0,23,45,555,666]
l5.sort()
print(l5)
l5.sort(reverse=True)
print(l5)
l5.reverse()
print(l5)

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 6, 7]
[1, 2, 3, 4, [2, 4, 5, 6]]
[0, 3, 4, 9, 10, 15, 23, 45, 555, 666]
[666, 555, 45, 23, 15, 10, 9, 4, 3, 0]
[0, 3, 4, 9, 10, 15, 23, 45, 555, 666]

## ***REPLACEMENT***

In [66]:
L6=[1,2,3,4,5]
L6[4]=6
print(L6)
l7="saadi"
l7.replace("a","d")#replace is only fr string

[1, 2, 3, 4, 6]

'sdddi'