### ***MEASURE OF CENTRAL TENDENCY***

#### ***MEAN***
#### ***MEDIAN***
#### ***MODE***

### ***1: MEAN***
#### ***POPULATION***                      
     [1,1,2,3,4,5,5,6]                
     Mean=Xi/N                          
          32/10=3.2                     
#### ***SAMPLE DATA***   
       [1,1,2,3,4,5,5,6] 
        Mean=Xi/n 
          32/10=3.2

### ***2: MEDIAN***

#### ***Sort the random variable {1,2,2,3,4,5}***

No of element = 6

if count is even  

{1,2,2,3,4,5}

median=2+3/2=2.5                                

if count is odd

{1,2,2,3,4,5,6}

median=center element=3

#### ***Why we use median?***

{1,2,3,4,5}

mean=15/5=3

if we have outlier{1,2,3,4,5,100}

mean=115/6=19.2

while in median 4+3/2=3.5

Median is used  to find the centeral tendency when outlier is present.

### ***MODE***

{2,1,1,1,4,5,6,7,8,9,9}

Mode=1

It is used in EDA and feature engineering

| Age | Weight | Salary | Gender | Degree |
|-----|--------|--------|--------|--------|
| 35  | 50     | 15000  | M      | BBA    |
| -   | 30     | 5000   | F      | CS     |
| 25  | -      | 10000  | M      | AI     |

we can know fill the blank by using median and mode.

In [1]:
#mean(average)
age=[12,21,34,35,45,67,56,39,87,99]

In [4]:
import numpy as np

In [5]:
np.mean(age)

np.float64(49.5)

In [7]:
weights=[54,45,34,54,34,67,54,56,75]
np.mean(weights)

np.float64(52.55555555555556)

In [12]:
import seaborn as sns

In [14]:
df=sns.load_dataset("tips")

In [15]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
np.mean(df['total_bill'])

np.float64(19.78594262295082)

In [17]:
#Median
np.median(age)

np.float64(42.0)

In [18]:
age=[12,21,34,35,45,67,56,39,87,99,300]

In [19]:
np.mean(age)

np.float64(72.27272727272727)

In [20]:
np.median(age)

np.float64(45.0)

In [22]:
from scipy import stats

In [23]:
stats.mode(age)

ModeResult(mode=np.int64(12), count=np.int64(1))