In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("indian_engineering_student_placement.csv")

In [5]:
df.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium

In [6]:
type(df)

pandas.DataFrame

In [10]:
df.dtypes

Student_ID                       int64
gender                             str
branch                             str
cgpa                           float64
tenth_percentage               float64
twelfth_percentage             float64
backlogs                         int64
study_hours_per_day            float64
attendance_percentage          float64
projects_completed               int64
internships_completed            int64
coding_skill_rating              int64
communication_skill_rating       int64
aptitude_skill_rating            int64
hackathons_participated          int64
certifications_count             int64
sleep_hours                    float64
stress_level                     int64
part_time_job                      str
family_income_level                str
city_tier                          str
internet_access                    str
extracurricular_involvement        str
dtype: object

#### ***Integer data  description fetch out by using simple describe***

In [11]:
df.describe()

,Student_ID,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,internships_completed,coding_skill_rating,communication_skill_rating,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,8.283798,74.537400,74.543060,0.343600,4.041120,72.041560,5.529400,2.132600,3.728600,3.025400,4.116400,3.704200,2.836000,6.955000,6.020200
std,1443.520003,1.008391,10.266752,10.244481,0.612547,1.967754,7.720029,2.053772,1.143713,1.278464,1.412358,0.716208,1.603252,1.781724,1.147881,2.851213
min,1.000000,5.000000,50.000000,50.000000,0.000000,0.000000,44.700000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000
25%,1250.750000,7.610000,67.400000,67.600000,0.000000,2.700000,66.600000,4.000000,1.000000,3.000000,2.000000,4.000000,3.000000,2.000000,6.200000,4.000000
50%,2500.500000,8.320000,74.700000,74.800000,0.000000,4.000000,72.050000,6.000000,2.000000,4.000000,3.000000,4.000000,4.000000,3.000000,7.000000,6.000000
75%,3750.250000,9.020000,82.000000,81.700000,1.000000,5.400000,77.200000,7.000000,3.000000,5.000000,4.000000,5.000000,5.000000,4.000000,7.800000,9.000000
max,5000.000000,10.000000,100.000000,100.000000,5.000000,10.000000,99.200000,8.000000,4.000000,5.000000,5.000000,5.000000,6.000000,9.000000,9.000000,10.000000

In [12]:
df.dtypes

Student_ID                       int64
gender                             str
branch                             str
cgpa                           float64
tenth_percentage               float64
twelfth_percentage             float64
backlogs                         int64
study_hours_per_day            float64
attendance_percentage          float64
projects_completed               int64
internships_completed            int64
coding_skill_rating              int64
communication_skill_rating       int64
aptitude_skill_rating            int64
hackathons_participated          int64
certifications_count             int64
sleep_hours                    float64
stress_level                     int64
part_time_job                      str
family_income_level                str
city_tier                          str
internet_access                    str
extracurricular_involvement        str
dtype: object

#### ***To fetch out description of categorical we use two method***
##### ***One method write manually name of attribute***
##### ***Second is to convert it into index then use describe***

In [13]:
df[['gender','branch','part_time_job','family_income_level','city_tier','internet_access','extracurricular_involvement']]

,gender,branch,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,Male,ECE,Yes,Medium,Tier 2,Yes,Medium
1,Female,ECE,Yes,Medium,Tier 3,Yes,Low
2,Female,IT,No,Low,Tier 2,Yes,High
3,Male,ECE,No,Medium,Tier 1,Yes,Low
4,Male,IT,No,Medium,Tier 1,Yes,Medium
...,...,...,...,...,...,...,...
4995,Female,IT,No,Medium,Tier 3,Yes,Low
4996,Male,IT,No,Low,Tier 1,Yes,Low
4997,Male,IT,Yes,Low,Tier 2,No,Medium
4998,Female,ECE,No,Medium,Tier 2,Yes,High
4999,Male,CSE,No,Low,Tier 1,No,High

In [15]:
df.dtypes == 'str'

Student_ID                     False
gender                          True
branch                          True
cgpa                           False
tenth_percentage               False
twelfth_percentage             False
backlogs                       False
study_hours_per_day            False
attendance_percentage          False
projects_completed             False
internships_completed          False
coding_skill_rating            False
communication_skill_rating     False
aptitude_skill_rating          False
hackathons_participated        False
certifications_count           False
sleep_hours                    False
stress_level                   False
part_time_job                   True
family_income_level             True
city_tier                       True
internet_access                 True
extracurricular_involvement     True
dtype: bool

In [17]:
df.dtypes[df.dtypes == 'str'].index

Index(['gender', 'branch', 'part_time_job', 'family_income_level', 'city_tier',
       'internet_access', 'extracurricular_involvement'],
      dtype='str')

In [19]:
df[df.dtypes[df.dtypes == 'str'].index].describe()

,gender,branch,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
count,5000,5000,5000,5000,5000,5000,3994
unique,2,5,2,3,3,2,3
top,Male,CSE,No,Medium,Tier 2,Yes,Medium
freq,2999,1522,4007,2466,2023,4461,1501

In [21]:
df.dtypes

Student_ID                       int64
gender                             str
branch                             str
cgpa                           float64
tenth_percentage               float64
twelfth_percentage             float64
backlogs                         int64
study_hours_per_day            float64
attendance_percentage          float64
projects_completed               int64
internships_completed            int64
coding_skill_rating              int64
communication_skill_rating       int64
aptitude_skill_rating            int64
hackathons_participated          int64
certifications_count             int64
sleep_hours                    float64
stress_level                     int64
part_time_job                      str
family_income_level                str
city_tier                          str
internet_access                    str
extracurricular_involvement        str
dtype: object

In [23]:
df[df.dtypes[df.dtypes == 'float'].index]

,cgpa,tenth_percentage,twelfth_percentage,study_hours_per_day,attendance_percentage,sleep_hours
0,8.74,74.0,75.0,3.8,71.1,6.5
1,7.80,75.3,69.7,6.3,69.5,7.1
2,6.95,62.8,68.3,1.5,62.5,6.1
3,7.46,57.9,51.4,4.7,64.6,7.3
4,6.86,61.3,73.5,5.2,75.9,6.0
...,...,...,...,...,...,...
4995,10.00,90.4,98.3,3.7,75.3,7.3
4996,7.76,74.3,72.6,6.3,72.3,7.8
4997,7.79,64.0,71.2,2.0,63.8,6.1
4998,8.76,74.3,74.0,5.1,72.0,9.0
4999,9.45,85.6,80.0,2.8,63.4,7.8

In [25]:
df.columns

Index(['Student_ID', 'gender', 'branch', 'cgpa', 'tenth_percentage',
       'twelfth_percentage', 'backlogs', 'study_hours_per_day',
       'attendance_percentage', 'projects_completed', 'internships_completed',
       'coding_skill_rating', 'communication_skill_rating',
       'aptitude_skill_rating', 'hackathons_participated',
       'certifications_count', 'sleep_hours', 'stress_level', 'part_time_job',
       'family_income_level', 'city_tier', 'internet_access',
       'extracurricular_involvement'],
      dtype='str')

In [29]:
df[['cgpa','gender']][4:11:2]

    cgpa  gender
4   6.86    Male
6   8.26    Male
8   7.97  Female
10  6.77    Male

In [30]:
df['new_col']=0

In [31]:
df

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,6,3,6.1,2,No,Low,Tier 2,Yes,High,0
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,2,7.3,7,No,Medium,Tier 1,Yes,Low,0
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,4,2,7.3,2,No,Medium,Tier 3,Yes,Low,0
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,3,2,7.8,6,No,Low,Tier 1,Yes,Low,0
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,6,2,6.1,5,Yes,Low,Tier 2,No,Medium,0
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,4,5,9.0,10,No,Medium,Tier 2,Yes,High,0
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,6,2,7.8,1,No,Low,Tier 1,No,High,0

In [38]:

df["new-col1"]=df['backlogs'] + df['projects_completed']

In [39]:
df

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0,5
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,0,8
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,2,7.3,2,No,Medium,Tier 3,Yes,Low,0,6
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,2,7.8,6,No,Low,Tier 1,Yes,Low,0,6
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,2,6.1,5,Yes,Low,Tier 2,No,Medium,0,8
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,5,9.0,10,No,Medium,Tier 2,Yes,High,0,6
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,0,8

In [40]:
df.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0,5
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,0,8
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,0,5

In [44]:
pd.Categorical(df["certifications_count"])

[5, 1, 3, 2, 1, ..., 2, 2, 2, 5, 2]
Length: 5000
Categories (10, int64): [0, 1, 2, 3, ..., 6, 7, 8, 9]

In [45]:
pd.Categorical(df["backlogs"])

[0, 0, 0, 1, 2, ..., 0, 2, 2, 0, 0]
Length: 5000
Categories (6, int64): [0, 1, 2, 3, 4, 5]

In [46]:
df["branch"].unique()

<StringArray>
['ECE', 'IT', 'CSE', 'CE', 'ME']
Length: 5, dtype: str

In [47]:
df.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0,5
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,0,8
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,0,5

In [49]:
df[df["cgpa"]>8.74]

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
9,10,Female,ECE,8.79,70.1,77.1,0,5.9,77.2,7,...,3,7.5,10,Yes,Medium,Tier 1,Yes,Low,0,7
11,12,Female,CE,9.62,83.4,86.8,0,8.3,75.1,8,...,7,7.9,8,No,Medium,Tier 1,Yes,High,0,8
13,14,Male,ME,8.94,84.9,81.7,0,4.0,70.8,2,...,1,6.2,2,Yes,Medium,Tier 2,Yes,Medium,0,2
16,17,Male,CSE,8.97,76.3,84.0,0,0.7,62.5,7,...,2,9.0,4,No,Low,Tier 2,Yes,NaN,0,7
18,19,Male,ME,9.06,78.0,82.3,0,4.0,76.1,8,...,4,9.0,6,No,Low,Tier 1,Yes,Medium,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,4993,Male,ECE,8.76,74.5,76.6,0,4.4,73.9,8,...,3,6.7,5,Yes,Low,Tier 1,No,Low,0,8
4994,4995,Male,CSE,10.00,93.2,88.1,0,8.0,81.3,4,...,3,6.3,6,No,Medium,Tier 3,Yes,Low,0,4
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,2,7.3,2,No,Medium,Tier 3,Yes,Low,0,6
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,5,9.0,10,No,Medium,Tier 2,Yes,High,0,6
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,0,8

In [50]:
len(df[df["cgpa"]>8.74])

1703

In [52]:
df[df["cgpa"]>8.283798]

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
9,10,Female,ECE,8.79,70.1,77.1,0,5.9,77.2,7,...,3,7.5,10,Yes,Medium,Tier 1,Yes,Low,0,7
11,12,Female,CE,9.62,83.4,86.8,0,8.3,75.1,8,...,7,7.9,8,No,Medium,Tier 1,Yes,High,0,8
13,14,Male,ME,8.94,84.9,81.7,0,4.0,70.8,2,...,1,6.2,2,Yes,Medium,Tier 2,Yes,Medium,0,2
15,16,Male,CSE,8.57,79.5,79.0,1,6.5,74.2,7,...,3,6.5,3,No,Low,Tier 3,Yes,High,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,4993,Male,ECE,8.76,74.5,76.6,0,4.4,73.9,8,...,3,6.7,5,Yes,Low,Tier 1,No,Low,0,8
4994,4995,Male,CSE,10.00,93.2,88.1,0,8.0,81.3,4,...,3,6.3,6,No,Medium,Tier 3,Yes,Low,0,4
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,2,7.3,2,No,Medium,Tier 3,Yes,Low,0,6
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,5,9.0,10,No,Medium,Tier 2,Yes,High,0,6
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,0,8

In [53]:
df[df["cgpa"]==0]

Empty DataFrame
Columns: [Student_ID, gender, branch, cgpa, tenth_percentage, twelfth_percentage, backlogs, study_hours_per_day, attendance_percentage, projects_completed, internships_completed, coding_skill_rating, communication_skill_rating, aptitude_skill_rating, hackathons_participated, certifications_count, sleep_hours, stress_level, part_time_job, family_income_level, city_tier, internet_access, extracurricular_involvement, new_col, new-col1]
Index: []

[0 rows x 25 columns]

In [59]:
df

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0,5
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,0,8
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,2,7.3,2,No,Medium,Tier 3,Yes,Low,0,6
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,2,7.8,6,No,Low,Tier 1,Yes,Low,0,6
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,2,6.1,5,Yes,Low,Tier 2,No,Medium,0,8
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,5,9.0,10,No,Medium,Tier 2,Yes,High,0,6
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,0,8

In [60]:
df[df['gender']=='Male']

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,1,6.0,7,No,Medium,Tier 1,Yes,Medium,0,5
5,6,Male,CSE,7.46,70.5,70.4,3,3.6,81.7,5,...,2,8.8,10,Yes,High,Tier 1,Yes,Medium,0,8
6,7,Male,CE,8.26,81.2,74.8,0,1.8,59.6,4,...,4,5.7,8,No,Low,Tier 1,No,High,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,4993,Male,ECE,8.76,74.5,76.6,0,4.4,73.9,8,...,3,6.7,5,Yes,Low,Tier 1,No,Low,0,8
4994,4995,Male,CSE,10.00,93.2,88.1,0,8.0,81.3,4,...,3,6.3,6,No,Medium,Tier 3,Yes,Low,0,4
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,2,7.8,6,No,Low,Tier 1,Yes,Low,0,6
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,2,6.1,5,Yes,Low,Tier 2,No,Medium,0,8
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,0,8

In [62]:
df[df['backlogs']==1]

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7
8,9,Female,CSE,7.97,71.4,73.8,1,7.6,75.5,7,...,7,5.4,10,No,Medium,Tier 2,Yes,Medium,0,8
15,16,Male,CSE,8.57,79.5,79.0,1,6.5,74.2,7,...,3,6.5,3,No,Low,Tier 3,Yes,High,0,8
20,21,Female,ME,7.22,70.4,67.8,1,3.1,62.8,3,...,3,6.9,2,Yes,Low,Tier 1,Yes,High,0,4
41,42,Male,ME,8.28,78.1,62.8,1,6.2,79.2,2,...,4,6.0,2,No,Low,Tier 1,Yes,NaN,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4957,4958,Female,CE,7.69,69.3,72.3,1,6.5,69.2,3,...,2,5.4,5,No,High,Tier 3,No,Low,0,4
4960,4961,Male,ME,7.97,75.7,71.0,1,2.5,70.5,7,...,5,6.0,6,Yes,Medium,Tier 2,Yes,NaN,0,8
4984,4985,Male,IT,7.48,73.5,64.2,1,3.9,64.1,8,...,1,9.0,3,Yes,Medium,Tier 2,Yes,Low,0,9
4986,4987,Female,ECE,7.91,73.7,74.0,1,5.2,73.3,2,...,0,6.9,4,No,Medium,Tier 2,Yes,NaN,0,3
4989,4990,Female,IT,8.22,72.5,73.6,1,3.1,77.2,3,...,2,9.0,5,No,High,Tier 3,No,Low,0,4

In [65]:
df["gender"]=='Female'

0       False
1        True
2        True
3       False
4       False
        ...
4995     True
4996    False
4997    False
4998     True
4999    False
Name: gender, Length: 5000, dtype: bool

In [67]:
df[(df["cgpa"]>8.283798) & (df["gender"]=='Female')]

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
9,10,Female,ECE,8.79,70.1,77.1,0,5.9,77.2,7,...,3,7.5,10,Yes,Medium,Tier 1,Yes,Low,0,7
11,12,Female,CE,9.62,83.4,86.8,0,8.3,75.1,8,...,7,7.9,8,No,Medium,Tier 1,Yes,High,0,8
30,31,Female,ECE,8.74,71.7,84.8,0,6.8,79.8,2,...,0,7.6,9,No,Low,Tier 2,Yes,Medium,0,2
38,39,Female,CE,8.72,80.3,76.8,0,2.8,60.5,8,...,4,6.1,8,No,Medium,Tier 3,Yes,NaN,0,8
43,44,Female,ME,9.32,82.4,89.1,0,5.7,75.5,5,...,1,6.9,2,Yes,Medium,Tier 2,Yes,Low,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4982,4983,Female,ECE,8.59,71.8,76.2,0,7.4,85.5,8,...,4,9.0,5,No,High,Tier 3,Yes,Medium,0,8
4988,4989,Female,CSE,8.32,64.5,73.7,2,3.7,70.4,5,...,2,6.5,3,No,Medium,Tier 1,Yes,Low,0,7
4990,4991,Female,ECE,10.00,90.0,86.3,0,5.5,82.0,8,...,5,6.4,2,No,High,Tier 2,Yes,NaN,0,8
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,2,7.3,2,No,Medium,Tier 3,Yes,Low,0,6
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,5,9.0,10,No,Medium,Tier 2,Yes,High,0,6

In [69]:
df[df['Student_ID']==max(df['Student_ID'])]

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,2,7.8,1,No,Low,Tier 1,No,High,0,8

In [70]:
df.head(4)

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0,5
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,3,6.1,2,No,Low,Tier 2,Yes,High,0,8
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,2,7.3,7,No,Medium,Tier 1,Yes,Low,0,7

In [71]:
df[0:2]

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement,new_col,new-col1
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium,0,7
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,1,7.1,8,Yes,Medium,Tier 3,Yes,Low,0,5

In [73]:
df[['cgpa','backlogs','projects_completed']][0:2]

   cgpa  backlogs  projects_completed
0  8.74         0                   7
1  7.80         0                   5

In [77]:
df.loc[0:2,['cgpa','backlogs','projects_completed']]

   cgpa  backlogs  projects_completed
0  8.74         0                   7
1  7.80         0                   5
2  6.95         0                   8

In [80]:
df.iloc[0:2,[3,6,9]]

   cgpa  backlogs  projects_completed
0  8.74         0                   7
1  7.80         0                   5