### ***PANDAS BASICS***

In [6]:
import pandas as pd

In [2]:
pip install pd

Requirement already satisfied: pd in c:\users\user\appdata\local\programs\python\python314\lib\site-packages (0.0.4)
Note: you may need to restart the kernel to use updated packages.

#### ***Read File***

In [7]:
pd.read_csv("indian_engineering_student_placement.csv")

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,5,4,2,7.3,2,No,Medium,Tier 3,Yes,Low
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,4,3,2,7.8,6,No,Low,Tier 1,Yes,Low
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,4,6,2,6.1,5,Yes,Low,Tier 2,No,Medium
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,4,4,5,9.0,10,No,Medium,Tier 2,Yes,High
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,4,6,2,7.8,1,No,Low,Tier 1,No,High

#### ***Read from top***

In [12]:
df=pd.read_csv("indian_engineering_student_placement.csv")
df.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium

In [13]:
df.head(2)

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low

#### ***Read From Tail***

In [14]:
df.tail()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,5,4,2,7.3,2,No,Medium,Tier 3,Yes,Low
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,4,3,2,7.8,6,No,Low,Tier 1,Yes,Low
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,4,6,2,6.1,5,Yes,Low,Tier 2,No,Medium
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,4,4,5,9.0,10,No,Medium,Tier 2,Yes,High
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,4,6,2,7.8,1,No,Low,Tier 1,No,High

In [15]:
df.tail(1)

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,4,6,2,7.8,1,No,Low,Tier 1,No,High

#### ***Type Check***

In [16]:
type(df)

pandas.DataFrame

#### ***To See only Column***

In [18]:
list(df.columns)

['Student_ID',
 'gender',
 'branch',
 'cgpa',
 'tenth_percentage',
 'twelfth_percentage',
 'backlogs',
 'study_hours_per_day',
 'attendance_percentage',
 'projects_completed',
 'internships_completed',
 'coding_skill_rating',
 'communication_skill_rating',
 'aptitude_skill_rating',
 'hackathons_participated',
 'certifications_count',
 'sleep_hours',
 'stress_level',
 'part_time_job',
 'family_income_level',
 'city_tier',
 'internet_access',
 'extracurricular_involvement']

In [19]:
df['branch']

0       ECE
1       ECE
2        IT
3       ECE
4        IT
       ...
4995     IT
4996     IT
4997     IT
4998    ECE
4999    CSE
Name: branch, Length: 5000, dtype: str

In [20]:
type(df['branch'])

pandas.Series

In [21]:
list(df['branch'])

['ECE',
 'ECE',
 'IT',
 'ECE',
 'IT',
 'CSE',
 'CE',
 'IT',
 'CSE',
 'ECE',
 'CSE',
 'CE',
 'ECE',
 'ME',
 'CSE',
 'CSE',
 'CSE',
 'ECE',
 'ME',
 'IT',
 'ME',
 'ECE',
 'IT',
 'CE',
 'IT',
 'ECE',
 'CSE',
 'CSE',
 'CE',
 'CSE',
 'ECE',
 'ECE',
 'ME',
 'ME',
 'CSE',
 'ECE',
 'ME',
 'IT',
 'CE',
 'IT',
 'CE',
 'ME',
 'CSE',
 'ME',
 'ME',
 'ME',
 'ECE',
 'ECE',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'ME',
 'ECE',
 'CSE',
 'ME',
 'ECE',
 'IT',
 'IT',
 'ECE',
 'ECE',
 'CE',
 'CSE',
 'ECE',
 'ECE',
 'IT',
 'CSE',
 'ME',
 'CE',
 'ECE',
 'CSE',
 'IT',
 'ECE',
 'ME',
 'CSE',
 'ECE',
 'ECE',
 'CSE',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'CE',
 'CSE',
 'ME',
 'CSE',
 'CSE',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'CSE',
 'ECE',
 'CSE',
 'ECE',
 'ME',
 'ME',
 'ECE',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'CE',
 'IT',
 'IT',
 'IT',
 'ME',
 'CE',
 'CSE',
 'ME',
 'ECE',
 'ECE',
 'CE',
 'CSE',
 'ECE',
 'IT',
 'CSE',
 'ECE',
 'IT',
 'ME',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'ME',
 'ECE',
 'CSE',
 'CSE',
 'IT',
 'ECE',
 'ME',
 'CSE',
 'ME',
 'IT',
 'ME',
 'CSE',
 'ME',
 'CE',
 'ECE',
 'IT',
 'ME',
 'IT',
 'ME',
 'CSE',
 'ECE',
 'CSE',
 'IT',
 'CE',
 'ME',
 'ECE',
 'CSE',
 'CE',
 'ECE',
 'CSE',
 'ME',
 'CSE',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'CSE',
 'CE',
 'ECE',
 'ME',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'IT',
 'CSE',
 'ECE',
 'IT',
 'ECE',
 'IT',
 'CSE',
 'IT',
 'CE',
 'IT',
 'ME',
 'ECE',
 'IT',
 'CSE',
 'ECE',
 'CE',
 'CE',
 'IT',
 'CSE',
 'CE',
 'CE',
 'CSE',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'ME',
 'CE',
 'IT',
 'ECE',
 'IT',
 'ECE',
 'IT',
 'CSE',
 'IT',
 'CSE',
 'ECE',
 'CE',
 'ECE',
 'ME',
 'ECE',
 'CE',
 'CSE',
 'CSE',
 'CSE',
 'ECE',
 'CSE',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'IT',
 'CSE',
 'ME',
 'ME',
 'ECE',
 'CE',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'ME',
 'CSE',
 'ECE',
 'IT',
 'ECE',
 'ECE',
 'IT',
 'CE',
 'ME',
 'CE',
 'IT',
 'ECE',
 'ECE',
 'ECE',
 'IT',
 'ME',
 'CSE',
 'IT',
 'ECE',
 'CSE',
 'ECE',
 'ECE',
 'IT',
 'CSE',
 'IT',
 'ME',
 'CSE',
 'IT',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'ECE',
 'CSE',
 'CSE',
 'CSE',
 'CE',
 'ECE',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'ECE',
 'IT',
 'ECE',
 'CSE',
 'IT',
 'ECE',
 'CE',
 'IT',
 'CSE',
 'CSE',
 'CE',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'CE',
 'CSE',
 'ECE',
 'ME',
 'ECE',
 'CSE',
 'CE',
 'CSE',
 'CE',
 'IT',
 'ECE',
 'ECE',
 'ECE',
 'ECE',
 'IT',
 'IT',
 'ECE',
 'ME',
 'IT',
 'IT',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'CSE',
 'ME',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'CSE',
 'ME',
 'CSE',
 'CSE',
 'ECE',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'IT',
 'ECE',
 'ME',
 'IT',
 'CSE',
 'IT',
 'IT',
 'CSE',
 'CSE',
 'IT',
 'ECE',
 'CSE',
 'CSE',
 'ECE',
 'ME',
 'CE',
 'IT',
 'CSE',
 'ECE',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'IT',
 'ECE',
 'ME',
 'CSE',
 'ECE',
 'ME',
 'ECE',
 'IT',
 'ME',
 'ECE',
 'CE',
 'CSE',
 'ECE',
 'ECE',
 'ECE',
 'CE',
 'ECE',
 'CE',
 'ME',
 'ECE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'CSE',
 'CSE',
 'ME',
 'ECE',
 'ECE',
 'IT',
 'ME',
 'IT',
 'CSE',
 'ME',
 'IT',
 'ME',
 'CE',
 'ECE',
 'CSE',
 'ECE',
 'ECE',
 'IT',
 'CSE',
 'IT',
 'IT',
 'CSE',
 'ECE',
 'IT',
 'IT',
 'ECE',
 'ECE',
 'ECE',
 'ME',
 'CSE',
 'CE',
 'CSE',
 'CSE',
 'ECE',
 'ECE',
 'ECE',
 'ECE',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'ECE',
 'ECE',
 'ME',
 'IT',
 'CSE',
 'ME',
 'CE',
 'ME',
 'CSE',
 'ME',
 'CSE',
 'ME',
 'CE',
 'CSE',
 'IT',
 'CSE',
 'IT',
 'ECE',
 'CSE',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'ME',
 'ECE',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'ECE',
 'CE',
 'CSE',
 'ECE',
 'ECE',
 'IT',
 'IT',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'CSE',
 'ECE',
 'CE',
 'IT',
 'IT',
 'ECE',
 'ME',
 'ECE',
 'CSE',
 'CE',
 'CSE',
 'ECE',
 'ECE',
 'ME',
 'CE',
 'ECE',
 'IT',
 'CSE',
 'ECE',
 'CE',
 'ME',
 'IT',
 'CSE',
 'ME',
 'ME',
 'IT',
 'CSE',
 'CE',
 'ME',
 'CSE',
 'ECE',
 'ECE',
 'ME',
 'IT',
 'ME',
 'ME',
 'ECE',
 'CSE',
 'CSE',
 'ECE',
 'ECE',
 'CSE',
 'ECE',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'IT',
 'IT',
 'CE',
 'CSE',
 'CE',
 'IT',
 'CE',
 'CSE',
 'ME',
 'IT',
 'ME',
 'ME',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'CSE',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'ME',
 'CE',
 'CSE',
 'CSE',
 'CSE',
 'IT',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'IT',
 'IT',
 'ME',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'ME',
 'IT',
 'CE',
 'CSE',
 'CE',
 'CSE',
 'ME',
 'ECE',
 'IT',
 'CSE',
 'CSE',
 'IT',
 'CSE',
 'ME',
 'CE',
 'IT',
 'IT',
 'IT',
 'CSE',
 'IT',
 'ME',
 'ME',
 'CSE',
 'ME',
 'IT',
 'IT',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'CE',
 'ECE',
 'CSE',
 'ECE',
 'ECE',
 'IT',
 'ME',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'ECE',
 'ECE',
 'ECE',
 'ME',
 'ME',
 'CE',
 'CSE',
 'ECE',
 'CSE',
 'ME',
 'CSE',
 'ME',
 'IT',
 'IT',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'IT',
 'CSE',
 'ECE',
 'IT',
 'IT',
 'CSE',
 'ME',
 'CSE',
 'CSE',
 'IT',
 'IT',
 'CE',
 'CSE',
 'IT',
 'ECE',
 'ECE',
 'ECE',
 'CSE',
 'CE',
 'ME',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'ECE',
 'ECE',
 'ME',
 'CSE',
 'CSE',
 'CE',
 'ME',
 'ME',
 'CE',
 'ME',
 'CSE',
 'ECE',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'IT',
 'ME',
 'CSE',
 'CSE',
 'IT',
 'ME',
 'ME',
 'CE',
 'CE',
 'IT',
 'CSE',
 'CE',
 'IT',
 'CSE',
 'ME',
 'ECE',
 'IT',
 'CSE',
 'ME',
 'CSE',
 'CE',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'CSE',
 'CSE',
 'CE',
 'ECE',
 'IT',
 'CSE',
 'ME',
 'CSE',
 'CSE',
 'ME',
 'ME',
 'CE',
 'ECE',
 'ECE',
 'ECE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'ME',
 'CSE',
 'IT',
 'CSE',
 'IT',
 'CSE',
 'ME',
 'IT',
 'CSE',
 'IT',
 'ECE',
 'IT',
 'ME',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'CSE',
 'CSE',
 'ECE',
 'CE',
 'CSE',
 'CSE',
 'ME',
 'CSE',
 'CSE',
 'CSE',
 'IT',
 'IT',
 'ECE',
 'ME',
 'ECE',
 'ME',
 'ME',
 'ME',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'ME',
 'IT',
 'IT',
 'CSE',
 'ME',
 'ME',
 'IT',
 'IT',
 'ME',
 'CSE',
 'CE',
 'CSE',
 'CE',
 'IT',
 'ECE',
 'ME',
 'ECE',
 'ECE',
 'ECE',
 'CE',
 'IT',
 'IT',
 'CSE',
 'IT',
 'CE',
 'CSE',
 'CSE',
 'CSE',
 'IT',
 'ME',
 'CE',
 'CSE',
 'CE',
 'CSE',
 'ECE',
 'ME',
 'CSE',
 'IT',
 'CSE',
 'ME',
 'ECE',
 'ME',
 'CSE',
 'CSE',
 'IT',
 'CSE',
 'IT',
 'IT',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'IT',
 'ECE',
 'CE',
 'CSE',
 'IT',
 'IT',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'IT',
 'ECE',
 'CSE',
 'ECE',
 'IT',
 'ME',
 'ECE',
 'CSE',
 'IT',
 'IT',
 'CSE',
 'CSE',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'ECE',
 'IT',
 'ECE',
 'CE',
 'CE',
 'CSE',
 'ECE',
 'ME',
 'CSE',
 'ECE',
 'ECE',
 'IT',
 'ECE',
 'IT',
 'ECE',
 'CE',
 'ME',
 'IT',
 'ECE',
 'ME',
 'ME',
 'ECE',
 'CSE',
 'CSE',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'CE',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'IT',
 'IT',
 'ECE',
 'CE',
 'CSE',
 'CSE',
 'CSE',
 'ME',
 'ECE',
 'ECE',
 'CSE',
 'ECE',
 'CE',
 'ECE',
 'CE',
 'CSE',
 'IT',
 'ME',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'ECE',
 'CSE',
 'IT',
 'ME',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'ECE',
 'IT',
 'ECE',
 'ECE',
 'ME',
 'IT',
 'IT',
 'ECE',
 'CE',
 'ME',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'IT',
 'ECE',
 'IT',
 'ECE',
 'ME',
 'ECE',
 'CSE',
 'ECE',
 'CSE',
 'ME',
 'ECE',
 'CE',
 'CSE',
 'CSE',
 'ECE',
 'IT',
 'CE',
 'ECE',
 'ECE',
 'CSE',
 'IT',
 'ME',
 'CSE',
 'ME',
 'CSE',
 'IT',
 'CSE',
 'ME',
 'CSE',
 'CE',
 'CE',
 'ME',
 'ME',
 'IT',
 'CSE',
 'ECE',
 'CSE',
 'IT',
 'ECE',
 'CE',
 'ME',
 'CSE',
 'CSE',
 'CSE',
 'ECE',
 'CSE',
 'CSE',
 'IT',
 'IT',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'IT',
 'CSE',
 'CSE',
 'CE',
 'ME',
 'CSE',
 'ME',
 'ECE',
 'ECE',
 'CE',
 'IT',
 'ECE',
 'IT',
 'ECE',
 'CE',
 'ECE',
 'IT',
 'IT',
 'CSE',
 'IT',
 'IT',
 'CE',
 'CSE',
 'IT',
 'IT',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'ECE',
 'ME',
 'ME',
 'CSE',
 'IT',
 'CSE',
 'CSE',
 'CSE',
 'ME',
 'IT',
 'ME',
 'IT',
 'CSE',
 'ECE',
 'ECE',
 'ECE',
 'CSE',
 'ME',
 'ECE',
 'CE',
 'ECE',
 'CSE',
 ...]

In [22]:
df[['branch']]

     branch
0       ECE
1       ECE
2        IT
3       ECE
4        IT
...     ...
4995     IT
4996     IT
4997     IT
4998    ECE
4999    CSE

[5000 rows x 1 columns]

In [23]:
type(df[['branch']])

pandas.DataFrame

In [25]:
df.columns

Index(['Student_ID', 'gender', 'branch', 'cgpa', 'tenth_percentage',
       'twelfth_percentage', 'backlogs', 'study_hours_per_day',
       'attendance_percentage', 'projects_completed', 'internships_completed',
       'coding_skill_rating', 'communication_skill_rating',
       'aptitude_skill_rating', 'hackathons_participated',
       'certifications_count', 'sleep_hours', 'stress_level', 'part_time_job',
       'family_income_level', 'city_tier', 'internet_access',
       'extracurricular_involvement'],
      dtype='str')

In [26]:
#to read multiple column we required name inside double list otherwise it will give error
df[['Student_ID','cgpa']]

      Student_ID   cgpa
0              1   8.74
1              2   7.80
2              3   6.95
3              4   7.46
4              5   6.86
...          ...    ...
4995        4996  10.00
4996        4997   7.76
4997        4998   7.79
4998        4999   8.76
4999        5000   9.45

[5000 rows x 2 columns]

In [27]:
df.dtypes

Student_ID                       int64
gender                             str
branch                             str
cgpa                           float64
tenth_percentage               float64
twelfth_percentage             float64
backlogs                         int64
study_hours_per_day            float64
attendance_percentage          float64
projects_completed               int64
internships_completed            int64
coding_skill_rating              int64
communication_skill_rating       int64
aptitude_skill_rating            int64
hackathons_participated          int64
certifications_count             int64
sleep_hours                    float64
stress_level                     int64
part_time_job                      str
family_income_level                str
city_tier                          str
internet_access                    str
extracurricular_involvement        str
dtype: object

In [29]:
pd.read_excel("file.xlsx")

   ID         Name Department        City  Salary            Join Date
0   1     Ali Khan      Sales     Karachi   55000  2023-01-01 00:00:00
1   2   Sara Ahmed         HR      Lahore   60000           15-02-2023
2   3   Usman Raza         IT   Islamabad   80000  2023-10-03 00:00:00
3   4  Ayesha Noor  Marketing     Karachi   65000  2023-05-04 00:00:00
4   5    Hamza Ali    Finance      Lahore   75000           20-05-2023
5   6   Zain Malik         IT  Faisalabad   70000  2023-12-06 00:00:00

In [31]:
df1= pd.read_excel("file.xlsx")
df1.dtypes

ID             int64
Name             str
Department       str
City             str
Salary         int64
Join Date     object
dtype: object

In [32]:
type(df1)

pandas.DataFrame

In [33]:
df1.columns

Index(['ID', 'Name', 'Department', 'City', 'Salary', 'Join Date'], dtype='str')

In [34]:
df1[['ID','Name']]

   ID         Name
0   1     Ali Khan
1   2   Sara Ahmed
2   3   Usman Raza
3   4  Ayesha Noor
4   5    Hamza Ali
5   6   Zain Malik

In [ ]:
#df3.to_csv("file name") is tarah file jo url form mn hu usy save krskty hain